apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: ksecwatch-servicemonitor
  namespace: monitoring
  labels:
    release: kps
spec:
  selector:
    matchLabels:
      app: ksecwatch
  namespaceSelector:
    matchNames:
      - monitoring
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
